@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600&family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #444;
}

body {
    height: 100%;
    min-height: 100vh;
    background-image: url('../img/background.jpg');
    background-position: center;
    background-size: cover;
    // background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}

.container {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;

    .logo-wrapper {
        top: 8%;
        left: 10%;
        transform: translateX(-10%);
        position: absolute;

        .logo {
            width: 440px;
        }
    }
}

.wrapper {
    padding: 40px 0 80px 0;
    min-height: 95vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 120px;
}

.showcase {
    height: 500px;

    video {
        height: 100%;
        border-radius: 12px;
    }
}

.mint-box {
    // padding: 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 10px;
    width: 25rem;
    height: auto;
    // background: #ffffffea;
    border-radius: 12px;
    color: #28293d;
    // box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.1);
    // box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.1);

    .links {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        column-gap: 16px;

        img {
            width: 60px;
        }
    }

    .desc {
        padding: 32px 40px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        background: #ffffffea;
        border-radius: 16px;
        box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.1);


        p {
            line-height: 1.4;
        }
    }

    button {
        width: max-content;
        border-radius: 8px;
        background: none;
        border: none;
        cursor: pointer;

        img {
            width: 360px;
        }
    }
}

.banner {
    height: 40px;
    width: 300vw;
    position: fixed;
    bottom: 4%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 20px;
    background: #333;
    color: white;
    text-transform: uppercase;
    overflow: none;
}

@media (min-device-aspect-ratio: 21/9) {
    .banner {
        width: 150vw;
    }

    .banner-text {
        animation: marquee 60s linear infinite !important;
    }
}

.banner-text {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    animation: marquee 60s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-300%, 0);
    }
}

@media (max-width: 1800px) {
    .logo {
        width: 360px !important;
    }

    .showcase {
        height: 400px;
    }
}


@media (max-height: 960px) {
    .logo {
        width: 360px !important;
    }
}

@media (max-width: 1023px) {
    .container {
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
        row-gap: 60px;
        padding-bottom: 10vh;
    }

    .logo-wrapper {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        align-content: center;
        top: unset !important;
        left: unset !important;
        transform: unset !important;
        position: unset !important;

        .logo {
            width: 280px !important;
        }
    }

    .wrapper {
        padding: 0 0 !important;
        flex-direction: column;
        row-gap: 60px;

        .mint-box {
            height: 100%;

            button {
                height: 100%;
            }
        }
    }

    .banner {
        width: 450vw;
        bottom: 0px;
    }
}

@media (max-width: 512px) {

    .wrapper {
        margin-bottom: 10vh;
    }

    .logo-wrapper {
        width: 12rem;
    }

    .logo {
        width: 12rem !important;
    }

    .showcase {
        height: 18rem !important;
    }

    .mint-box {
        width: 18rem;

        button img {
            width: 15rem !important;
        }
    }

    .banner {
        width: 760vw;
    }
}