@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600&family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: 100%;
    min-height: 100vh;
    background-image: url('../img/background.jpg');
    background-position: center;
    background-size: cover;
    // background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}

.container {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;

    .logo-wrapper {
        top: 40px;
        left: 10%;
        transform: translateX(-10%);
        position: absolute;
    }
}

.wrapper {
    height: 95ch;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 50px;
}

.showcase {
    height: 500px;

    video {
        height: 100%;
        border-radius: 12px;
    }
}

.mint-box {
    // padding: 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 20px;
    width: 400px;
    height: auto;
    // background: #ffffffea;
    border-radius: 12px;
    color: #28293d;
    // box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.1);
    // box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.1);

    .links {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        column-gap: 16px;

        img {
            width: 60px;
        }
    }

    .desc {
        padding: 40px 40px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        background: #ffffffde;
        border-radius: 16px;
        box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.1);


        p {
            line-height: 1.6;
        }
    }

    button {
        height: 40px;
        width: max-content;
        border-radius: 8px;
        background: none;
        border: none;
        cursor: pointer;

        img {
            width: 400px;
        }
    }
}

.banner {
    height: 40px;
    width: 100%;
    position: fixed;
    bottom: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    background: #333;
    color: white;
    text-transform: uppercase;
    overflow-x: none;
}

@media (max-width: 1800px) {
    .logo {
        width: 320px;
    }

    .showcase {
        height: 400px;
    }
}

@media (max-width: 1023px) {
    .container {
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
        row-gap: 40px;
        padding-bottom: 200px;
    }

    .logo-wrapper {
        margin-top: 40px;
        width: 500px;
        display: flex;
        justify-content: center;
        align-content: center;
        top: unset !important;
        left: unset !important;
        transform: unset !important;
        position: unset !important;

        .logo {
            width: 280px;
        }
    }

    .wrapper {
        flex-direction: column;
        row-gap: 40px;

        .mint-box {
            height: 100%;
            button {
                height: 100%;
            }
        }
    }


    .banner {
        bottom: 0px;
    }
}